body{
    padding: 0;
    margin: 0;
}
/* Css for main heaidng  */
.about-main{
    height: 400px;
    width: 100%;
    background-color: rgb(64, 174, 218);
    display: flex;

}
.img{
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    margin-left: 10%;
}
.img-wh{
    height: 400px;
    width: 600px;
    object-fit: cover;
}
.text{
    height: 400px;
    width: 100%;
    /* margin-left: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    font-family:'system-ui' 'Darker Grotesque', sans-serif;
}
.text h1{
    color: white;
    letter-spacing: 4px;
    font-size: 50px;;
}
.text h1 span{
    color: white;
    letter-spacing: normal;
    font-size: 30px;
}
#About-text{
    color: rgb(11, 103, 140);
    letter-spacing: normal;
}
/* Css for about slider  */
.slider{
    height: 600px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 40px;
}
.slider-img{
    height: 600px;
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider-img{
    height: 600px;
}
.slider-text{
    height: 600px;
    width: 50%;

    /* border: 1px solid green; */
}
.teeth-text{
    height: 700px;
    width: 50% ;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* align-items: center; */
    /* margin-top: 40px; */
    text-align: justify;
    margin-left: 10%;
}
.teeth-text h1{
    color: rgb(8, 99, 136);
}
.teeth-text h3{
    color: rgb(52, 142, 178);
}
.teeth-text p{
    letter-spacing: 2px;
    font-size: large;
    /* line-height: 22px; */
}
.teeth-text ul{
    /* line-height: 10px; */
    letter-spacing: 2px;
    font-size: large;
    /* line-height: 22px; */
}
/* Css for text  */
.main-text{
    margin-top: 20px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    font-family:'system-ui' 'Darker Grotesque', sans-serif;
    letter-spacing: 2px;
    font-size: large;
}
.text2{
    margin-top: 10px;
}
.main-text h2{
    color: rgb(86, 207, 255);
}
.inst-logo{
    height: 200px;
    width: 100%;

    background-color: rgb(20, 112, 148);
    display: flex;
    justify-content: center;
    align-items: center;

}